<div class="container mt-5">
    <div class="row d-flex">
      <div class="col-md-4 d-flex flex-column">
        <div class="p-3 border flex-grow-1 primera">
            <h2>primera caja</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam aut repellendus quaerat blanditiis maiores eligendi omnis voluptatem vitae quos in iure perferendis aliquid, doloremque soluta, corporis voluptas quis facere libero!
            Sint non numquam eum? Maxime nemo nisi doloribus natus porro repudiandae. Vitae, amet veritatis odio maxime nihil animi delectus incidunt ullam ex! Sint perferendis quis totam maxime, eos deleniti aliquid!            
          </p>         
          <button (click)="scrollToTop()" class="btn btn-primary">Ir a la pagina de inicio</button>
        </div>
      </div>
      <div class="col-md-4 d-flex flex-column">
        <div class="p-3 border flex-grow-1 segunda">
            <h2>segunda caja</h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur optio delectus quisquam odit vel consequatur error consequuntur, qui quis dolorem mollitia suscipit aliquam reprehenderit sed, nemo debitis corporis quaerat! Rem?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi tenetur perspiciatis modi. Ullam quisquam, esse delectus  
          <br><br>
          Envie un texto  en la siguiente caja de comentarios.
          <br><br>
          <textarea id="comentario" name="comentario" rows="4" cols="50" placeholder="Escribe aquí tu comentario..."></textarea>
          <button (click)="enviarComentario()" class="btn btn-primary mt-2">Enviar</button>
        </div>
      </div>
      <div class="col-md-4 d-flex flex-column">
        <div class="p-3 border flex-grow-1 tercera">
            <h2>tercera caja</h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio deleniti, minima fugiat quod velit vel illo dolor, nesciunt ad odio nostrum! Voluptates dignissimos quibusdam dolor officia officiis quis natus porro?
          <br><br>
          <img src="https://picsum.photos/id/11/2500/1667" class="d-block w-100" alt="..." style="height: 40%; width: 30%;">

          <button (click)="scrollToTop()" class="btn btn-primary">Ir a la pagina de inicio</button>
        </div>
      </div>
    </div>

    <div class="row mt-4 d-flex">
      <div class="col-md-6 d-flex flex-column">
        <div class="p-3 border flex-grow-1 cuarta">
            <h2 class="textI">cuarta caja</h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, quaerat delectus sint iusto tempore dicta dolor eum non dolore exercitationem illo corporis blanditiis alias ab quos assumenda. Earum, explicabo ipsam.
          Accusantium similique, numquam, nostrum labore minima necessitatibus amet, asperiores reprehenderit harum sed fuga! Itaque tempore eveniet perspiciatis impedit, nemo dolor soluta consectetur, velit quasi cum nesciunt, exercitationem quas! Doloremque, similique?
          Veniam esse nemo, placeat facere soluta obcaecati eveniet repellendus dolorem exercitationem sequi! Quis magni nihil repudiandae culpa, ex nemo hic architecto quibusdam ipsum dolorum mollitia aspernatur et voluptate vel debitis.
          Iusto sed consequuntur corporis cum nihil accusantium libero, facilis voluptate quos adipisci pariatur minus, rem dolore suscipit at deleniti architecto sint numquam. Voluptatibus dicta excepturi asperiores magni porro dolorum incidunt?
          Commodi eum tempore molestias, nulla, illum animi tenetur inventore et cupiditate quisquam labore nostrum hic dolorum facilis rem mollitia veritatis quam quis fuga maiores enim, explicabo quo modi quod? Velit.
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column">
        <div class="p-3 border flex-grow-1 quinta">
            <h2 class="textI">quinta caja</h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusantium recusandae tempora explicabo dolorem id ab suscipit? At, cupiditate illum nostrum praesentium, ad debitis est nemo, vel qui nesciunt earum!
          Nesciunt voluptatem cum quaerat quo rem odit, praesentium iure ab temporibus esse quos, unde ut dicta amet soluta suscipit modi voluptas! Asperiores vel illum est minus nesciunt veritatis temporibus nihil.
        </div>
      </div>
    </div>
  </div>
  